.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.votingContainer {
  padding: 8px;
  cursor: pointer;
  /* border: 1px solid var(--text); */
  border-radius: 5px;
}

.selectedVotingContainer {
  box-shadow: 0 0 20px 15px var(--btn);
  /* background-color: var(--btn); */
}

.top {
  display: flex;
}

.imgContainer {
  width: 100%;
  height: 300px;
  position: relative;
}

.imgContainerTall {
  height: 450px;
}

.caption {
  font-size: 14pt;
  text-align: center;
}

.desc {
  font-size: 14pt;
  color: gray;
  text-align: center;
}

.captionContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.img {
  object-fit: contain;
}

@media (max-width: 1536px) {
  .imgContainer {
    height: 270px;
  }

  .imgContainerTall {
    height: 405px;
  }
}

@media (max-width: 1366px) {
  .imgContainer {
    height: 270px;
  }

  .imgContainerTall {
    height: 405px;
  }
}

@media (max-width: 1280px) {
  .imgContainer {
    height: 300px;
  }

  .imgContainerTall {
    height: 450px;
  }
}

@media (max-width: 1024px) {
  .imgContainer {
    height: 235px;
  } 

  .imgContainerTall {
    height: 352px;
  }
}

@media (max-width: 768px) {
  .imgContainer {
    height: 375px;
  }

  .imgContainerTall {
    height: 562px;
  }
}

@media (max-width: 640px) {
  .imgContainer {
    height: 185px;
  }

  .imgContainerTall {
    height: 277px;
  }
}
