.container {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  text-align: center;
}

.detailsContainer {
  border-top: 1px solid var(--text);
  padding-top: 50px;
  display: flex;
  gap: 30px;
  justify-content: space-around;
}

.desc {

}

.bottom {

}

.captions {
  border-top: 1px solid var(--text);
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.caption {
  width: 30%;
}

@media (max-width: 1280px) {
  .caption {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .caption {
    width: 100%;
  }
}